{% extends "_index.html" %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="http://pjrg.co">pjrg.co</a></li>
  <li><a href="/">Index</a></li>
  <li class="active">2016 Elections</li>
</ul>
<div class="container text-center">
  <div class="col-lg-3">
  </div>

  <div class="col-lg-6">
    <h2 class='text-center'>Patrick Guelcher</h1>
    <h5 class='text-center'>Web Mapping Projects</h1>

    <br />

    <div class="list-group">
      <a href="http://maps.pjrg.co/2016-election/republican-primaries" class="list-group-item">
        2016 Republican Primary Results
      </a>
      <a href="http://maps.pjrg.co/2016-election/democratic-primaries" class="list-group-item">
        2016 Democratic Primary Rusults
      </a>
    </div>
  </div>

  <div class="col-lg-3">
  </div>
</div>
{% endblock %}
