{% extends "_index.html" %}

{% block content %}
<div class='container text-center'>
  <h1>Patrick Guelcher</h1>
  <h4 class='text-center' style='padding-bottom: 30px;'>Web Mapping Projects</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5><a href="http://maps.pjrg.co/2016-election/republican-primaries">2016 Presidential Election - Republican Primary Results</a></h5>
      maps.pjrg.co/2016-election/republican-primaries
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5><a href="http://maps.pjrg.co/2016-election/democratic-primaries">2016 Presidential Election - Democratic Primary Results</a></h5>
      maps.pjrg.co/2016-election/democratic-primaries
    </div>
  </div>
</div>
{% endblock %}
